*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: url("/img/weather1.jpg");
    height: 100vh;
    overflow: hidden; 
    background-position: top center;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
}

.app-main{
    width: 50vh;
    margin: 100px auto;
    background-color: rgba(240,248,255, 0.6);
    padding: 20px;
    text-align: center;
}

.app-main > * {
    margin-bottom: 20px;
}

.input-box {
    width: 100%;
    background-color: rgba(255,255,255,0.6);
    border:none;
    outline :none;
    color: royalblue;
    font-size: 1.2rem;
    height: 40px;
    border-radius: 5px;
    padding:  0 10px;
    text-align: center;}



.input.box:focus{
    background-color: rgba(240,248,255, 0.6);
}
.weather-body{
    display: none;
 color:black;
 padding: px;
 line-height: 2rem;
 border-color: rgba(255,255,255,0.6);
 height: 40vh;
}

.location-details{
    font-weight: bold;
}

.weather-status {
    padding: 20px;

}

.temp{
    font-size: 50pt;
    font-weight:700 ;
    margin: 20px 0 ;
    text-shadow: 2px 4px rgba(0,0,0,0.3);
}

.min-max , weather {
    font-size: 12pt;
    font-weight: 600;
    

}

